@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color:#276D98;
    --secondary-light-color:#5F95C3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    margin:1rem;
    margin-top: 1.5rem;
}
p{
    color: white;
    margin:1rem;
    
} 
/* Total Content at the center */
.container {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--primary-color);
}

/* Labels */
.label {
    color: white;
    display: block;
    font-size: large;
    font-weight: 600;
    margin:0.8rem;
    margin-top: 1.5rem;
  }

  /* Input box */
input {
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
}

/* Button check */
#btn-check {
    background: var(--secondary-light-color);
    border: 1px solid var(--secondary-light-color);
    color: black;
    padding: 0.7rem 1rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-radius: 1rem;
    font-weight: bolder;
  }
/* Number of notes table */
.table {
    padding: 0.2rem;
    color: black;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
  }

th,td {
  width: 0%;
  border-collapse:collapse;
  padding: 0.6rem;
  background-color: var(--secondary-light-color);
  border: 2px solid var(--primary-color);
  font-weight: bolder;
}

/* To make the background color white of only one row  */
.number-of-notes{
    background-color: white;
}
.footer{
  background-color: var(--primary-color);
  padding: 2rem 4rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  border-top-right-radius: 1rem;
  color: white;
  
  }
  .footer .footer-lists{
  text-decoration: none;
  text-align: center;
  color:white;
  }
  .footer-links{
  text-decoration: none;
  color:white;
  cursor: pointer;
  
  }
  .footer ul {
  padding-inline-start: 0px;
  }
  .footer-div{
  text-align: center;
  font-weight: bold;
  
  }
  
  .list-inline{
  display: inline;
  
  padding: 0rem 1rem;
  }